<body>

    <div class="auth-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Welcome to Christian Biodata Management</h2>
            <p>
                <input type="email" id="email" placeholder="Email Address" formControlName="email">
            </p>
            <div *ngIf="!form.controls.email?.valid && form.controls.email.touched">
                <p *ngIf="form.controls.email.errors?.['required']">
                    Email is required!
                </p>
                <p *ngIf="form.controls.email.errors?.['email']">
                    Email is invalid!
                </p>
            </div>
            <p style="position: relative;">
                <input [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Password"
                    formControlName="password">
                <button type="button" (click)="showPassword = !showPassword" style="position:absolute; right:8px; top: 20%; transform:translateY(-50%);
           background:none; border:none; cursor:pointer; padding:4px; width:auto; color: #333;">
                    <i [class]="showPassword ? 'ti ti-eye-off' : 'ti ti-eye'" style="font-size:18px;"></i>
                </button>
            </p>
            <div *ngIf="!form.controls.password.valid && form.controls.password.touched">
                <p *ngIf="form.controls.password.errors?.['required']">
                    Password is required!
                </p>
                <p *ngIf="form.controls.password.errors?.['minlength']">
                    Password must be at least 8 characters!
                </p>
            </div>

            <p style="color: black;" *ngIf="successMessage">{{ successMessage }}</p>
            <p style="color: red" *ngIf="errorMessage">{{ errorMessage }}</p>
            <p style="color: black" *ngIf="loginMessage">{{ loginMessage }}</p>

            <button type="submit" [disabled]="form.invalid">Login</button>
            <p style="color: black;">Don't have an account? <a routerLink="/register">Register</a></p>
            <!-- In your login form -->
            <div class="forgot-password-link">
                <a routerLink="/forgot-password">Forgot your password?</a>
            </div>
        </form>

    </div>

</body>