<body>
    <div class="container">
        <div class="nav-buttons">
      <a type="button" href="/dashboard">
          <i class="fas fa-home"></i> Home
      </a>
      <a type="button" href="/search">
          <i class="fas fa-search"></i> Search
      </a>
    </div>
        <h2>Confirmation Form</h2>

        <app-progress-bar [currentStep]="currentStep"></app-progress-bar>
        
        <div class="error-alert" *ngIf="noConfirmation">
            This Christian is not Confirmed! Add Confirmation Record
        </div>
        <div class="success-message" *ngIf="!noConfirmation">
            Edit Confirmation Record!
        </div>
        <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmationForm()" class="formContainer">
            <div class="section">
                <h3>Confirmation Information</h3>
                <label for="confirmation_place">Place:</label>
                <input type="text" id="confirmation_place" formControlName="confirmation_place">

                <label for="confirmation_date">Date:</label>
                <input type="date" id="confirmation_date" formControlName="confirmation_date">

                <label for="minister">Minister:</label>
                <input type="text" id="minister" formControlName="minister">

                <label for="confirmation_no">Confirmation No:</label>
                <input type="text" id="confirmation_no" formControlName="confirmation_no">

                <!-- Feedback Messages -->
                <div class="feedback-messages">
                    <div *ngIf="successMessage" class="success-message">
                        <i class="fa fa-check-circle"></i> {{ successMessage }}
                    </div>
                    <div *ngIf="errorMessage" class="error-alert">
                        <i class="fa fa-exclamation-triangle"></i> {{ errorMessage }}
                    </div>
                </div>
            </div>


            <div class="div-btns">
                <button type="button" (click)="navigateToEucharist()">Back</button>
                <button type="submit" [disabled]="confirmationForm.invalid">Save       </button>
                <button type="button" (click)="navigateToMarriage()">Next</button>
            </div>
        </form>
    </div>
</body>