<body>
    <div class="container">
        <div class="nav-buttons">
        <a type="button" href="/dashboard">
            <i class="fas fa-home"></i> Home
        </a>
        <a type="button" href="/search">
            <i class="fas fa-search"></i> Search
        </a>
        </div>
        <h2>Baptism Form</h2>

        <app-progress-bar [currentStep]="currentStep"></app-progress-bar>
        
        <div class="error-alert" *ngIf="noBaptism">
            This Christian is not Baptized! Add Baptism Record
        </div>
        <div class="success-message" *ngIf="!noBaptism">
            Edit Baptism Record!
        </div>
        <form [formGroup]="baptismForm" (ngSubmit)="onSubmitBaptismForm()" class="formContainer">
            <div class="section">
                <h3>Baptism Information</h3>
                <label for="parish">Parish / Place of Baptism:</label>
                <app-parish-autocomplete
                    formControlName="parish"
                    placeholder="Type a parish name..."
                    label="Parish / Place of Baptism"
                    [externalControl]="baptismForm.get('parish')"
                ></app-parish-autocomplete>

                <label for="baptism_date">Date:</label>
                <input type="date" id="baptism_date" formControlName="baptism_date">

                <label for="baptism_number">Baptism Number:</label>
                <input type="text" id="baptism_number" formControlName="baptism_number">

                <label for="minister">Minister:</label>
                <input type="text" id="minister" formControlName="minister">

                <label for="sponsor">Sponsor:</label>
                <input type="text" id="sponsor" formControlName="sponsor">

                <!-- Feedback Messages -->
                <div class="feedback-messages">
                    <div *ngIf="successMessage" class="success-message">
                        <i class="fa fa-check-circle"></i> {{ successMessage }}
                    </div>
                    <div *ngIf="errorMessage" class="error-alert">
                        <i class="fa fa-exclamation-triangle"></i> {{ errorMessage }}
                    </div>
                </div>
            </div>
            <div class="div-btns">
                <button type="button" (click)="navigateToPersonalInfo()">Back</button>
                <button type="submit" [disabled]="baptismForm.invalid">Save</button>
                <button type="button" (click)="navigateToEucharist()">Next</button>
            </div>
        </form>
    </div>
</body>